.titleh2 {
  color: white;
}

.intro{
  border: 8px double rgba(123,143,164,0.62);
  -webkit-border-radius: 29px;

 width: 100%;
  color: #FFF;
 margin: 50px auto;
 text-align: center;
 font-size: 70px;
 padding: 40px;
}

.dataholder1{
  display: flex;
  flex-direction: row;

}
.detailsaboutme{
  font-size: 40px;
}

.picholder{

  width: 50%;
}
.review{
  font-size: 40px;
  margin: 50px auto;
  text-align: center;
  border: 8px groove rgba(123,143,164,0.62);
  -webkit-border-radius: 29px;
}

body {
  line-height: 1.618;
  font-family: Arial, Helvetica, sans-serif;
}

img, video {
  max-width: 100%;
  vertical-align: middle;
}

body {
  background-color: #4f6b8c;
  color: #333333;
}
.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  columns: 1;
  column-gap: 10px;
  display: flex;
    align-items: center;
    flex-direction: column;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.submitwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wraping {

  display: flex;
  flex-direction: column;
justify-content: space-between;

  background-color: #ffffff;
    border-radius: 4px;
    width: 50%;
    height: 50%;
    /* justify-self: center; */
    align-self: center;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
}

.writebox {
  height: 50%;
  width: 90%;
}

.myButton {
	background-color:#a7c0eb;
	border-radius:11px;
	border:1px solid #89b2d6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7d9cb3;
}
.myButton:hover {
	background-color:#8992a3;
}
.myButton:active {
	position:relative;
	top:1px;
}

.picdetail {
  -webkit-filter: brightness(100%);
}
.picdetail:hover {
  -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}



@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 1;
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
